
### haskell ( https://github.com/github/gitignore.git ) 

dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
cabal.sandbox.config


### emacs ( https://github.com/github/gitignore.git ) 

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


### vim ( https://github.com/github/gitignore.git ) 

*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### osx ( https://github.com/github/gitignore.git ) 

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### linux ( https://github.com/github/gitignore.git ) 

.*
!.gitignore
*~


### windows ( https://github.com/github/gitignore.git ) 

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

